* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;
    min-height: 100%;
    margin: 0 auto;
}

.header {
    padding-top: 63px;
}

.header-products {
    padding-top: 63px;
    background-color: #f5f5f5;
    height: 360px;
    box-sizing: border-box;
}

.slider-1 {
    position: relative;
    height: 800px;
    background-image: url(../img/slider-img1.jpg);
}

.slider-2 {
    position: relative;
    height: 800px;
    background-image: url(../img/slider-img2.jpg);
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    /* Style for "HOME     P" */
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
    /*
    font-weight: 400;
    border-bottom: 3px solid #212121
*/
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text-1 {
    margin-top: 283px;
}

.slider-text-2 {
    padding-top: 287px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-hotdeal {
    text-transform: uppercase;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
}

.slider-h2 {
    color: #212121;
    font-size: 58px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    line-height: 24px;
    margin: 20px 0;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.featured-product {
    height: 609px;
}

.tab-control {
    float: left;
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 0 15px 21px 0;
    /*    width: 300px;*/
    border-bottom: 1px solid #6c6c6c;
}

.tab-control-link {
    padding: 0 0 0 5px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.tab-control-link:hover {
    color: #212121;
}

.tab-control-link-active {
    padding: 0 20px 19px 9px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #212121;
}

.btn-ghost {
    float: right;
    margin-top: 140px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
}

.btn-ghost-link {
    color: #6c6c6c;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-ghost-link:hover {
    color: #212121;
}

.tab-content {
    clear: both;
}


/* 
nth-child(-n+3) - с первого по третий
nth-child(n+3) - третий и четвертый 
*/

.product-featured:not(:last-child) {
    margin-right: 30px;
}

.product-featured {
    float: left;
}

.promo-text {
    padding: 228px 0 0 50px;
    width: 374px;
}

.promo-product {
    clear: both;
    height: 683px;
}

.promo-content1 {
    box-sizing: border-box;
    float: left;
    width: 683px;
    height: 683px;
    background-image: url(../img/promo-img1.jpg);
}

.promo-content2 {
    box-sizing: border-box;
    float: left;
    width: 683px;
    height: 683px;
    background-image: url(../img/promo-img2.jpg);
}

.promo-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-bottom: 5px;
}

.promo-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 24px 0 34px 0;
}

.trending-products {
    clear: both;
    height: 1108px;
}

.trending-title {
    display: block;
    float: left;
    margin-top: 120px;
    margin-bottom: 64px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.trending-content {
    clear: both;
}

.trending-link {
    /*    display: block;*/
    float: left;
    margin-bottom: 30px;
}

.trending-link:not(:nth-child(3n)) {
    margin-right: 30px;
}

.exclusive-product {
    height: 810px;
}

.exclusive-content {
    padding-top: 120px;
}

.big-exclusive {
    box-sizing: border-box;
    background-image: url(../img/product-1-lg.jpg);
    width: 570px;
    height: 570px;
    float: left;
    margin-right: 30px;
}

.big-excl-text {
    padding: 186px 0 371px 31px;
    width: 332px;
}

.regular-exclusive {
    display: block;
    float: left;
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
}

.regular-exclusive:nth-child(2n) {
    margin-right: 30px;
}

.mobile-app {
    height: 516px;
    background-image: url(../img/back-img.jpg);
}

.mobile-text {
    padding-top: 125px;
}

.tag-mobile {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.name-mobile {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    width: 472px;
    margin: 20px 0;
}

.details-mobile {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    width: 472px;
    margin-bottom: 33px;
}

.appstore {
    margin-right: 10px;
}

.clr {
    height: 384px;
}

.footer {
    width: 1366px;
    height: 384px;
    margin: -384px auto 0;
    clear: both;
    background-color: #f7f7f7;
}

.content-footer {
    padding-top: 120px;
}

.footer-text {
    float: left;
}

.footer-text:nth-child(-n+2) {
    margin-right: 78.5px;
}

.footer-text:nth-child(1n) {
    width: 221px;
}

.footer-text:nth-child(2n) {
    width: 422px;
}

.footer-text:nth-child(3n) {
    width: 370px;
}

.tag-footer {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 24px;
}

.contact-us-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 30px;
    letter-spacing: -0.139px;
}

.infolinks {
    float: left;
}

.infolinks:nth-child(2n) {
    margin-right: 103px;
}

.info-link {
    display: block;
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.363px;
    line-height: 26px;
}

.subscribe {
    width: 370;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.03px;
    margin-bottom: 26px;
}

form {
    position: relative;
    width: 370px;
    margin: 0 auto;
}

::placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: lighter;
}

.subscription-email {
    background: #fff;
}

.subscription-email input,
.subscription-email button {
    outline: none;
    background: transparent;
}

.subscription-email input {
    width: 370px;
    height: 48px;
    padding-left: 19px;
    border: 1px solid #d9dee1;
    box-sizing: border-box;
    color: #6c6c6c;
}

.subscription-email button {
    border: none;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.subscription-email button:before {
    content: "\f1d8";
    font-family: FontAwesome;
    font-size: 16px;
    color: #6c6c6c;
}

.subscription-email input:focus {
    border-color: #311c24
}

.copyright {
    clear: both;
    float: left;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-right: 145px;
}

.policies {
    float: right;
    color: #6c6c6c;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.socials {
    float: left;
    margin-top: -10px;
}

.social-icon {
    display: block;
    float: left;
    color: #f7f7f7;
    background-color: #6c6c6c;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 17px;
    box-sizing: border-box;
    margin-right: 7px;
}

.fa-facebook {
    padding-left: 10px;
    padding-top: 9px;
}

.fa-twitter {
    padding-left: 8.2px;
    padding-top: 8px;
}

.fa-google-plus {
    padding-left: 6.5px;
    padding-top: 8px;
}

.fa-pinterest-p {
    padding-left: 10px;
    padding-top: 9.5px;
}

.social-icon:hover {
    box-shadow: 0 2px 5px 1px rgba(0.22, 0.22, 0.22, 0.22);
}


/*   PRODUCT PAGE   */

.product-categories {
    margin-top: 30px;
    height: 70px;
    width: 100%;
    background-color: #f4f4f4;
}

.product-categories ul {
    padding: 28px 0 28px 360px;
}

.category-list {
    float: left;
    list-style-type: none;
}

.category-link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-right: 40px;
    text-decoration: none;
}

.category-link:hover {
    color: #212121;
}

.product-details {
    margin-top: 72px;
}

img[alt="slider-img"] {
    width: 570px;
    height: 570px;
}

.product-images {
    width: 570px;
    text-align: center;
    float: left;
    margin-right: 56px;
}

.prod-slide {
    margin-left: 5px;
}

.product-details-text {
    padding-top: 47px;
    text-align: center;
}

.centering {
    display: inline-block;
}

.prod-det-name {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.tag-prod-det {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.prod-det-price {
    color: #212121;
    font-size: 64px;
    font-weight: 200;
}

.red-button {
    display: inline-block;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    width: 510px;
    height: 71px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 22px;
    margin-top: 20px;
    margin-bottom: 49px;
}

.prod-text {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.related-products {
    clear: both;
}

.related-title {
    display: block;
    float: left;
    margin-top: 120px;
    margin-bottom: 64px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.related-content {
    clear: both;
}

.related-link {
    /*    display: block;*/
    float: left;
    margin-bottom: 120px;
}

.related-link:not(:nth-child(3n)) {
    margin-right: 30px;
}


/*  PRODUCTS MAIN PAGE  */

.header-h1 {
    /*    width: 575px;*/
    height: 58px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    letter-spacing: 2.5px;
    margin-top: 160px;
}

.tab-products {
    float: left;
    margin-top: 71px;
    margin-bottom: 50px;
    padding: 0 15px 21px 0;
    /*    width: 300px;*/
    border-bottom: 1px solid #6c6c6c;
}

.tab-products-link {
    padding-right: 25px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-decoration: none;
    text-transform: uppercase;
}

.tab-products-link:hover {
    color: #212121;
}

.tab-products-link-active {
    padding: 0 20px 19px 9px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid #212121;
}

.products-range {
    clear: both;
}

.range-link {
    /*    display: block;*/
    float: left;
    margin-bottom: 30px;
}

.range-link:not(:nth-child(3n)) {
    margin-right: 30px;
}

.sync-range {
    clear: both;
    text-align: center;
    text-transform: lowercase;
    padding-top: 41px;
    margin-bottom: 140px;
}


/*  COUNTACT PAGE  */

.our-locations {
    padding-top: 71px;
    margin-bottom: 122px
}

.location {
    float: left;
    width: 370px;
    height: 370px;
    outline: 1px solid #9c9c9c;
    text-align: center;
}

.location:not(:nth-child(3n)) {
    margin-right: 30px;
}

.place,
.tag-address,
.text-address,
.address {
    display: inline-block;
}

img[alt="map-marker"] {
    display: block;
    margin-left: 166px;
    margin-top: 48px;
}

.place {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
}

.tag-address {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.text-address {
    color: #212121;
    font-weight: 700;
    margin-bottom: 10px;
}

.address {
    color: #6c6c6c;
    font-weight: 400;
}


/*

    style for "Phone: 190"
color: #6c6c6c;
font-size: 14px;
font-weight: 700;
text-align: center;
    Text style for "Phone: , E"
font-weight: 700;
    Text style for "1900 - 123"
color: #212121;
font-weight: 300;
font-weight: 700;
    Text style for "12 W 1st S" 
font-weight: 300;

*/
